* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 0;
    font-family: 'Inter';
}

.header-top {
    display: flex;
    flex-direction: column;
    background-color: #FF6B1A;
    align-items: center;
    padding: 40px;
    gap: 10px;
    color: #FFFFFF;
}

.header-navbar {
    background-color: black;
    padding: 17px;
}

.navigation {
    display: none;
}

.burger-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FF6B1A;
    color: white;
    width: 100px;
    height: 37px;
    border-radius: 8px;    
}

/* სამი ხაზის კონტეინერი */
.icon {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 18px;
}

/* ხაზები */
.icon span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
}

.menu-links {
    /* display: none; */
    list-style: none;
    background: #FF6B1A;
    padding: 20px;
    position: fixed;
    left: 0;
    width: 120px;
    height: 200px;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    border-radius: 8px;
    opacity: 0.7;
}

.menu-links a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 0;
 

 
}

/* დამალული Checkbox-ი */
#menu-toggle {
  display: none;
  
}

#menu-toggle:checked ~ .menu-links {
  /* display: block; */
  transform: translateX(0);
}

.hero {
    background-color: #2A2A2AE5;
    position: relative;
}

.backgr-img img {
    position: absolute;
    /* gacentrva */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* chavagde textis kvesh */
    z-index: -1;
    opacity: 0.5;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 137px 24px;
    color: white;
    gap: 20px;
}

.cards-container {
    background: #F5F5F5;
    padding: 20px 50px 200px 50px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    
}

.card-item {
    max-width: 400px;
    max-height: 200px;
    border-radius: 12px;
    border-top-width: 4px;
    box-shadow: 0px 2px 8px 0px #0e0d0d1a;
    padding: 20px;
    border-top: 4px solid #FF6B1A;
    background-color: #FFFFFF;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    min-height: 100px;
    color: white;
    font-size: 12px;
}

@media (min-width: 768px) {

    .cards-container {
    background: #F5F5F5;
    padding: 20px 50px 200px 50px;
    margin: 0;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 20px;
    
}

.navbar {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.navigation ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
        padding: 0;   
         
    }

.navigation a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.3s;
}

.navigation ul li a:hover {
    background-color: #FF6B1A;
    transform: translateY(-2px);
    border-style: none;
    

}


}

@media (min-width: 992px) {
    .cards-container {
    background: #F5F5F5;
    padding: 20px 50px 200px 50px;
    margin: 0;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
    
}
}